/* imports */
@import url("https://fonts.googleapis.com/css?family=Patua+One|Roboto&display=swap");

/* CSS boilerplate */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body {
  margin: 0;
  padding: 0;
}

/*
  TODO header styles
  there are no header styles yet!
*/

/* Parent styles */
.content {
  text-align: center;
  font-style: normal;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}
h2 {
  font-size: 28px;
}
/* colors & variables*/
:root {
  --yellow: hsl(58, 97%, 70%);
  --blue-shadow: hsl(187, 91%, 60%);
}

.logo-title {
  font-family: "Patua One", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;
}
.welcome {
  font-weight: 600;
  font-size: 19px;
  margin-bottom: 2.5rem;
}
.intro-sec {
  background-color: hsl(187, 91%, 60%);
  font-weight: bold;
}
.intro-txt {
  width: 300px;
  padding: 5rem 0;
  margin: auto;
}
.flash-sec {
  background-color: var(--yellow);
  padding-top: 50px;
  padding-bottom: 100px;
}
.red-flip {
  color: red;
  padding-right: 220px;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 28px;
}
.card-container {
  width: 250px;
  height: 175px;
  line-height: 175px;
  margin: auto;
  background-color: white;
  box-shadow: 0px 4px 4px var(--blue-shadow);
}
.dict-sec {
  padding-top: 50px;
  padding-bottom: 100px;
}
.dict-sec-txt {
  margin: auto;
  margin-bottom: 100px;
  max-width: 300px;
}
.dict-container {
  margin: auto;
  box-shadow: 0px 4px 6px var(--blue-shadow);
  height: 425px;
  width: 350px;
}
.dict-word {
  padding-top: 25px;
  color: #34c8dc;
}
.activ-sec {
  background-color: var(--yellow);
}

/* Tablet */
@media (min-width: 768px) {
}
/* Desktop */
@media (min-width: 995px) {
}
