/* imports */
@import url("https://fonts.googleapis.com/css?family=Patua+One|Roboto&display=swap");

/* CSS boilerplate */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body {
  margin: 0;
  padding: 0;
}

/*
  TODO header styles
  there are no header styles yet!
*/

/* Parent styles */
.content {
  text-align: center;
  font-style: normal;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
h2 {
  font-size: 28px;
}
button:hover {
  cursor: pointer;
}
/* colors & variables*/
:root {
  --yellow: hsl(58, 97%, 70%);
  --blue-shadow: hsl(187, 91%, 60%);
}

.logo-title {
  font-family: "Patua One", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;
}
.welcome {
  font-weight: 600;
  font-size: 19px;
  margin-bottom: 2.5rem;
}
.intro-sec {
  background-color: var(--blue-shadow);
  font-weight: bold;
}
.intro-txt {
  width: 300px;
  padding: 5rem 0;
  margin: auto;
}

/*------- Flash Card Section -------*/

.flash-sec {
  background-color: var(--yellow);
  padding-top: 50px;
  padding-bottom: 100px;
}
.red-flip {
  color: red;
  padding-right: 220px;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 28px;
}
.card-container {
  width: 250px;
  height: 175px;
  margin: auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;   /* <--- Placed the background-color and box-shadow in another class selector */
}

.card-position {
  margin: 0 auto;
}

.inner-card-container {
  background-color: transparent;
  width: 100%;
  height: 100%;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.inner-card-container:hover .flip-card-inner {
  transform: rotateX(180deg);
}

.card-container h2 {
  margin-bottom: 0px;
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: white;
  box-shadow: 0px 4px 4px var(--blue-shadow);
}

.flip-card-back {
  background-color: palevioletred;
  transform: rotateX(180deg);
}

/*------- Dictionary/Translator -------*/

.dict-sec {
  padding-top: 50px;
  padding-bottom: 100px;
}
.dict-sec-txt {
  margin: auto;
  margin-bottom: 100px;
  max-width: 300px;
}
.dict-container {
  margin: auto;
  box-shadow: 0px 4px 6px var(--blue-shadow);
  height: 425px;
  width: 350px;
}
.dict-container h2 {
  margin-bottom: 0;
}
.dict-word {
  padding-top: 25px;
  margin-bottom: 0;
  color: #34c8dc;
}
.dict-container hr {
  width: 120px;
}
.activ-sec {
  background-color: var(--yellow);
  padding-top: 75px;
  padding-bottom: 150px;
}
.activ-container {
  max-width: 480px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}
.join-sec {
  padding-bottom: 50px;
  padding-top: 50px;
}
.join-sec button {
  border: none;
  background: #f19096;
  border-radius: 25px;
  width: 138px;
  height: 55px;
  font-size: 20px;
  font-weight: bold;
}
@media (max-width: 767px) {
  /* Mobile hidden elements */
  .intro-title,
  .td-red-flip,
  .card-container img {
    display: none;
  }
}
/* Tablet */
@media (min-width: 768px) {
  .logo-title {
    padding-left: 25px;
    padding-top: 25px;
  }
  .welcome {
    display: none;
  }
  .intro-sec {
    padding-top: 50px;
  }
  .intro-title {
    padding-bottom: 0px;
    font-family: "Patua One", Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 42px;
    padding-right: 60px;
    margin-bottom: 20px;
  }
  .intro-txt {
    padding-top: 0px;
  }
  .flash-sec {
    display: grid;
    grid-template-columns: 250px 400px;
    grid-column-gap: 30px;
    grid-template-areas:
      "card title"
      "card flipme";
    justify-content: center;
  }
  .red-flip {
    display: none;
  }
  .td-red-flip {
    grid-area: flipme;
    color: red;
    padding-right: 50px;
  }
  .flash-title {
    grid-area: title;
    padding-left: 50px;
  }
  .card-container {
    grid-area: card;
  }
}
/* Desktop */
@media (min-width: 995px) {
}
